@font-face {
  font-family: Montserrat-Regular;
  src: url(./assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Montserrat-ExtraBold;
  src: url(./assets/fonts/Montserrat-ExtraBold.ttf);
}

@font-face {
  font-family: Montserrat-Bold;
  src: url(./assets/fonts/Montserrat-Bold.ttf);
}

* {
  box-sizing: border-box;
}

html, body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

body {
  min-height: 100vh;
}